<div>
    <h1>bienvenidos a socket</h1>
</div>
<div>
    <input id="chatbox" type="text">
</div>
<div id="messageLogs">

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
