<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post" class="form-group w-50">       
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control">
        <label class="form-label">Password</label>
        <input type="text" name="password" class="form-control">
        <input class="btn btn-outline-dark mt-3 w-100" type="submit">
    </form>
</div>

