<div>
    <h1>Bienvenidos Comisión {{username}}</h1>
    <form action="/uploader" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile">
        <button>Enviar</button>
    </form>
</div>